:root {
    --blanco: #ffffff;
    --oscuro: #6D5B97;
    --primario: #E0BBE4;
    --secundario: #FFD1DC;
    --terciario: #B2F2BB;
    --gris: #9575CD;
    --grisClaro: #FDF4FF;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, var(--grisClaro), var(--terciario));
    margin: 0;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

h1, h2, h3 {
    text-align: center;
    color: var(--oscuro);
}

header {
    background-color: var(--terciario);
    padding: 2rem;
}

.nav-bg {
    background-color: var(--secundario);
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.navegacion-principal a {
    color: var(--oscuro);
    text-decoration: none;
    font-size: 2rem;
    padding: 2rem;
}

.hero {
    background-image: url(../img/hero.jpg);
    height: 45rem;
    background-size: cover;
    position: relative;
}

.contenido-hero {
    position: absolute;
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contenido-hero h2,
.contenido-hero p {
    color: white;
}

.boton {
    background-color: var(--secundario);
    padding: 1rem 3rem;
    border-radius: 2rem;
    text-decoration: none;
    color: var(--oscuro);
    margin-top: 2rem;
}

.sombra {
    background: white;
    padding: 4rem;
    margin-top: 2rem;
    border-radius: 2rem;
}

.servicios {
    display: grid;
    gap: 2rem;
}

@media (min-width: 768px) {
    .servicios {
        grid-template-columns: repeat(3, 1fr);
    }
}

.iconos {
    width: 10rem;
    height: 10rem;
    background: var(--primario);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.formulario {
    background: var(--gris);
    padding: 3rem;
    border-radius: 1rem;
}

.campo {
    margin-bottom: 1rem;
}

.input-text {
    width: 100%;
    padding: 1rem;
}

.flex {
    display: flex;
}

.alinear-derecha {
    justify-content: flex-end;
}

.footer {
    text-align: center;
    padding: 2rem;
}

#btnTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background: pink;
    border: none;
    padding: 10px;
}
